/* Dark Theme Variables */
:root,
[data-theme='dark'] {
  --radius: 0.625rem;
  --background: #141414;
  --background-secondary: #212121;
  --background-light: #FFFFFF33;
  --foreground: #ffffff;
  --card: #212121;
  --card-foreground: #ffffff;
  --popover: #212121;
  --popover-foreground: #ffffff;
  --primary-focus: #6a39c4;
  --dark-primary: #532d9b;
  --primary: #18BBDC;
  --primary-light: #14A7C5;
  --primary-foreground: #ffffff;
  --secondary: #424242;
  --secondary-foreground: #ffffff;
  --muted: #424242;
  --muted-foreground: #ffffff;
  --accent: #424242;
  --accent-foreground: #ffffff;
  --destructive: #e74c3c;
  --success-toast: #2ecc71;
  --warning-toast: #f39c12;
  --error-toast: #e74c3c;
  --border: #424242;
  --border-disabled: #5A5A5F;
  --input: #424242;
  --ring: #18BBDC;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #212121;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #18BBDC;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #424242;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #424242;
  --sidebar-ring: #18BBDC;
  --disabled-dark-foreground: #5A5A5F;
  --disabled-foreground: #5A5A5F;
  --disabled: #5A5A5F;
  --success: #087443;
  --success-light: #D3F8DFE5;
  --success-border: #aaf0c4;
  --block: #E04F16;
  --block-light: #FDEAD7E5;
  --warning: #e04f16;
  --warning-light: #fefaf5;
  --warning-border: #f9dbaf;
  --error: #ff4444;
  --error-light: #ff4444;
  --info: #33b5e5;
  --info-light: #00b8d9;
  --description-foreground: #5A5A5F;
  --file-card-bg: #212121;
  --search-bg: #424242;
  --table-header: #FFFFFF1A;
}
